html 

    header
        style 
            include ../public/stylesheets/style.css
        
    body
        div.headerContainer
            div.header  
                h2 Company logo
                ul
                    li
                        a(href = "/") Home
                    li
                        a(href = "/services") Our services
                    li  
                        a(href = "/contact") Contact us