html

    header
        style 
            include ../public/stylesheets/style.css
    body
        header
            include ./header.pug 
        div.bodyContainer
            div.bodyHome  
                    h1 Welcom to Lorem website.
                    p details about Lorem company. 




        