html

    header
        style 
            include ../public/stylesheets/style.css
    body
        header
            include ./header.pug 
        div.bodyContainer
            div.bodyServices  
                
                h1 Services
                p details about Lorem company services

                div.servicesContainer
                    div
                        div    
                            h3 Service 1
                            p On July 16, 1969, the Apollo 11 spacecraft launched from the Kennedy Space Center in Florida. Its mission was to go where no human being had gone before—the moon! 

                        div
                            h3 Service 2
                            p On July 16, 1969, the Apollo 11 spacecraft launched from the Kennedy Space Center in Florida. Its mission was to go where no human being had gone before—the moon! 
                    div
                        div
                            h3 Service 3
                            p On July 16, 1969, the Apollo 11 spacecraft launched from the Kennedy Space Center in Florida. Its mission was to go where no human being had gone before—the moon! 
                        div
                            h3 Service 4
                            p On July 16, 1969, the Apollo 11 spacecraft launched from the Kennedy Space Center in Florida. Its mission was to go where no human being had gone before—the moon! 